<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <div class="main">
        <div class="login-box">
            <div class="text-login">
                <p>Login</p>
                <span>Use your credentials to log in.</span>
            </div>
            <div class="login-form">
                <form action="users/login" method="POST">
                    <input class="form-control" name="email" type="email" placeholder="Email" required>
                    <input class="form-control" name="password" type="password" placeholder="Password" required>
                    <input class="form-enter button" type="submit" value="Login">
                </form>
                <form action="signup" method="GET">
                    <input class="form-enter button" type="submit" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>

</html>