<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header.ejs") %>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div class="main">
        <div class="login-box">
            <div class="text-login">
                <p>Signup</p>
            </div>
            <div class="login-form">
                <form action="users" method="POST">
                    <input class="form-control" name="email" type="email" placeholder="Email" required>
                    <input class="form-control" name="name" type="text" placeholder="Username" required>
                    <input class="form-control" name="password" type="password" placeholder="Password" required>
                    <p id="login__message">
                        Already a member? <a id="login__link" href="/" >Log in!</a>
                    </p>
                    <input class="form-enter button" type="submit" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
    <script src="/js/signup.js"></script>
</body>

</html>